<!doctype html>
<html>
  <head>
    <title>403 You do not have permission to access this page!</title>
    <style>
      .error-page {
        width: 400px;
        height: 100vh;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .error-page img {
        height: 50vh;
      }
    </style>
  </head>
  <body>
    <div class="error-page">
        <h1>403 Unauthorized Access</h1>
        <h2>You are not authorized to view this page. Please contact the administrator for further questions.</h2>
      <img src="/static/flower-outline.jpg" alt="flower outline"/>
      <p>
        We're sorry, but we were unable to find the page
        you requested.  Please visit our <a href="/">Home Page</a>
      </p>
    </div>
  </body>
</html>
