<nav>
  <div class="tribars">
    <hr/>
    <hr/>
    <hr/>
  </div>
  <a href="/" class="<%= url === '/' ? 'selected' : '' %>">
    Home
  </a>
  <a href="/weddings" class="<%= url === '/weddings' ? 'selected' : '' %>">
    Weddings
  </a>
  <a href="/sympathy" class="<%= url === '/sympathy' ? 'selected' : '' %>">
    Sympathy
  </a>
  <a href="/baby" class="<%= url === '/baby' ? 'selected' : '' %>">
    New Baby
  </a>
  <a href="/birthday" class="<%= url === 'bithday' ? 'selected' : '' %>">
    Birthday
  </a>
  <a href="/anniversary"  class="<%= url === '/anniversary' ? 'selected' : '' %>">
    Anniversary
  </a>
  <a href="/prom" class="<%= url === '/prom' ? 'selected' : '' %>">
    Prom
  </a>
  <a href="/sorority-sisterhood"  class="<%= url === 'sorority-sisterhood' ? 'selected' : '' %>">
    Sorority Sisterhood
  </a>
    <a href="/admin" class="<%= url === '/admin' ? 'selected' : '' %>">
        Admin
    </a>
  <div class="collapse"></div>
</nav>