<h1>Add Arrangement</h1>

<form method="POST" enctype="multipart/form-data" action="\add-arrangement">
    <fieldset>
        <label for="name">Arrangement Name:</label>
        <input type="text" name="name" value="">
    </fieldset>
    <fieldset>
        <label for="description">Arrangement Description:</label>
        <input type="text" name="description" value="">
    </fieldset>
    <fieldset>
        <input type="file" name="image" required/>
    </fieldset>
    <fieldset>
        <input type="submit" value="Submit Arrangement">
    </fieldset>
</form>