<h1>Admin</h1>

    <p>
        <a href="/signup">Create User</a>
    </p>
    <p>
    <a href="/update-password"> Update Password</a>
    </p>
    <p>
    <a href="/update-password-admin"> Update Password(admin)</a>
    </p>
     <p>
        <a href="/add-arrangement">Add an Arrangement</a>
    </p>
    <p>
        <a href="/update-arrangement">Edit an Arrangement</a>
    </p>
   
   