<h1>Create a New User</h1>
        <form method="POST">
            
            <div class="error-message">
                <%= errorMessage %>
            </div>
            
            <fieldset>
                <label for="username">Username:</label>
                <input type="text" name="username" />
            </fieldset>
            
            <fieldset>
                <label for="password">Password:</label>
                <input type="password" name="password"/>
            </fieldset>
            
            <fieldset>
                <label for="passwordConfirmation">Password Confirmation:</label>
                <input type="password" name="passwordConfirmation"/>
            </fieldset>
            
            <fieldset>
                <input type="submit" value="Create Account"/>
            </fieldset>
        </form>