<h1>Update Password</h1>
    <form method="POST">

        <div class="error-message">
            <%= errorMessage %>
        </div>

        <fieldset>
            <label for="username">Username:</label>
            <input type="text" name="username" />
        </fieldset>
        
        <fieldset>
            <label for="oldPassword">Old Password:</label>
            <input type="password" name="oldPassword"/>
        </fieldset>

        <fieldset>
            <label for="newPassword">New Password:</label>
            <input type="password" name="newPassword"/>
        </fieldset>
        
        <fieldset>
            <label for="passwordConfirmation">Password Confirmation:</label>
            <input type="password" name="passwordConfirmation"/>
        </fieldset>

        <fieldset>
            <input type="submit" value="Update Password"/>
        </fieldset>
    </form>