<h1>Update Arrangement</h1>

<form method="POST" action="\update-arrangement">
     <fieldset>
        <label for="id">Arrangement Id:</label>
        <input type="text" name="id" value="<%= id %>" readonly="readonly">
    </fieldset>
    <fieldset>
        <label for="name">Arrangement Name:</label>
        <input type="text" name="name" value="<%= name %>">
    </fieldset>
    <fieldset>
        <label for="description">Arrangement Description:</label>
        <input type="text" name="description" value="<%= description %>">
    </fieldset>
   
    <fieldset>
        <input type="submit" value="Update Arrangement">
    </fieldset>
</form>